.menu{

    background-image: url(http://masclics.com/blog/content/galleries/blogs-6-101-4-sitios-para-aprender-a-programar-en-espanol/imagen-25727dac960070.jpg);
    text-align: center;
    margin: 300px;    

}

.titulo{

    color: black;
    font-family: 'Coiny', cursive;
    text-align: center;
   

}

.botones{

    border-radius:4px;
    font-size:15px;
    margin:10px;
    color:#fff!important;
    display:inline-block;
    padding:10px 20px 10px 20px;
    background:#4299ef;
    box-shadow:0 15px 20px -10px rgba(0, 0, 0, 0), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 -16px 25px 0 #3273b3;
    transition:all .3s ease-in-out
}

.button:hover {
    text-decoration:none;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 10px 15px 5px #377dc3;
    color:#fff!important
}
.button:active {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 50px 25px 10px #22578b;
    color:#333!important;
    position:relative;
    top:1px;     
    transition:all .1s ease-in-out
}
    
.tabla{

    background-color: #2c90c6;
	border: 1px solid #2c90c6;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;

}

.fondo{


   

}

.boton{

      

}